.parent
{
  background-color: #e8e8e8;
}

.outer
{
  width: 500px;
  height: auto;        
  margin:auto;
  margin-top: 100px;
  background-color: #FFFFFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login-Form-title
{
  padding: 28px 30px;
  background-color: #17a2d4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sport-Text
{
  color: #f4f4f4;
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  word-spacing: 20px;
}

.login-Form-Body
{
  padding: 21px 25px;        
}

#txtEmail, #txtPassword
{
  background-color: #f6f6f6;
  border-radius: 3px;
  border-width: 1px;
  border-color: #e8e8e8; 
  border-style: solid;
  color: #969696;    
}


#txtEmail, #txtPassword, #btnLogin,.facebook-google-btn-div
{
  font-family: Lato;
  font-weight: 400;
  margin-bottom: 20px;
}

#txtEmail, #txtPassword, #btnLogin
{
  width: 450px;
  line-height:38px;
  padding: 10px 20px; 
}

#btnLogin
{             
  text-align: left;
  background-color: #17a2d4;  
}

#btnFacebook
{      
  background-color: #3b5998;
}

#btnGoogle
{          
  background-color: #d34836;  
  float:right; 
}
  	
#btnFacebook,#btnGoogle
{
  clear: right;
  width: 210px;
  line-height: 38px;
  padding: 10px 20px; 
}

#btnLogin, #btnFacebook, #btnGoogle, #passLink, #signupLink
{
  color: white;
  font-size: 18px;      
}

button {
  border-width: 0px;
}

#signupLink
{               
  float: right; 
}

#passLink,#signupLink
{
  clear: right;
  color: black;
}

.link-div
{
  font-family: Lato;
  font-weight: 400;
}
		
