body
{
	background-color: #e8e8e8;
	margin: 0px;
}

.nav-bar
{	
	background-color: #17a2d4;
	padding: 25px 40px;
	overflow: hidden;
}

.sports-exchange-text
{
	padding: 8px;
	word-spacing: 10px;
	color: #f4f4f4;
	font-weight: 800;
	font-size: 30px;
	font-family: lato;
	float: left;

}

.form-buttons
{
	padding: 1px;
	float:right;
}

clear-fix
{
	clear:both;
}


.btn-sign-up,.btn-log-in
{
	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.24);
	color:  #000000;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

.btn-sign-up
{
	padding:9px 28px;
	font-family: Lato;
}

.btn-log-in
{
	padding: 9px 36px;
	font-family: Lato;
	margin-left: 15px;
}

.outer-form-body
{
	width: 500px;
	margin:auto;
	margin-top: 109px;
	background-color:  #ffffff;
	border-radius: 3px;	
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	height: auto;
}

.form-body
{
	padding: 25px 25px;
}

.Recover-Text
{
	font-family: Lato;
	color:  #000000;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 22px;
}


.Input-Email
{
	width:410px;	
	padding: 19px 20px;
	background-color: #f6f6f6;
	border-radius: 3px;
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	margin-bottom: 4px;
	font-size: 18px;
	
}

.Notification-Text
{
	font-family: Lato;
	color:  #969696;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 24px;
}

.send-btn-div
{	
	text-align: center;
}

.btn-send
{
	font-family: Lato;
	font-weight: 400;
	color:  #ffffff;
	border-radius: 3px;
	background-color:  #17a2d4;
	padding: 12.5px 18px;
	font-size: 18px;
}
